{# This snippet expects a 'category_item' from the parent loop #}
<li class="category-menu-item {% if category_item.children.all %}has-submenu{% endif %}" style="border-bottom: 1px solid #e0e0e0;">
    <a href="{% if category_item.children.all %}#{% else %}{% url 'store:category_detail' slug=category_item.slug %}{% endif %}" class="category-menu-link">
        {% if category_item.image %}
            <img src="{{ category_item.image.url }}" alt="{{ category_item.name }}" class="category-icon">
        {% else %}
            <div class="category-icon-placeholder">
                <span>{{ category_item.name|slice:":1" }}</span>
            </div>
        {% endif %}
        <span class="category-name">{{ category_item.name }}</span>
        {% if category_item.children.all %}
            <span class="arrow">&#9656;</span>
        {% endif %}
    </a>
    
    {% if category_item.children.all %}
        <ul class="submenu">
            {% for child_category in category_item.children.all %}
                {% include "store/_category_level.html" with category_item=child_category %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
